# OS stuff
*.icloud
._*
.DS_Store
Thumbs.db
Desktop.ini
.Spotlight-V100
.Trashes

# IDE stuff
.idea/*
*.iml
*.ipr

# Build
cloudtooling-data-anonymizer-latest_digest.txt
__pycache__
# Test results
test/unit/output/*
test/e2e/testfiles/*.csv_anonymized
test/e2e/testfiles/*.json_anonymized
test/e2e/testfiles/*.xml_anonymized
