certifi==2025.1.31
charset-normalizer==3.4.1
docopt==0.6.2
Faker==34.0.2
glob2==0.7
idna==3.10
python-dateutil==2.9.0.post0
six==1.17.0
urllib3==2.3.0
yarg==0.1.10
jinja2==3.1.5
# optional (depending on your usecase):
SQLAlchemy==2.0.38
lxml==5.3.1
jsonpath-ng==1.7.0