certifi==2026.5.20
charset-normalizer==3.4.7
docopt==0.6.2
Faker==37.12.0
glob2==0.7
idna==3.17
python-dateutil==2.9.0.post0
six==1.17.0
urllib3==2.6.3
yarg==0.1.10
jinja2==3.1.6
# optional (depending on your usecase):
SQLAlchemy==2.0.50
lxml==6.1.1
jsonpath-ng==1.8.0